body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#result{
    font-weight: bold;
    font-size: large;
}
.positive{
    color: green;
}
.negative{
    color: red;
}
.neutral{
    color: gray;
}
